.carousel {
    max-width: 800px;
    margin: auto;
    position: relative;
}

.contenedor_carousel {
    padding: 1%;
    width: 100%;
    background-color: whitesmoke;
}

.formulario {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}

.formulario .input_form {
    width: 70%;
    border-radius: 20px;
    border-width: 0px;
    box-shadow: 10px 10px 10px -5px rgba(163, 163, 163, 1);
    padding: 1.5%;
    margin: 2.5%;
    max-height: 500px;
}

.formulario .formulario_contenedor{
    text-align: center;
    margin-top: 2%;
}

.formulario .img{
    width: 50%;
}

.imagen-fondo {
    background-image: url("../img/fondo1.svg");
    background-size: cover; /* Ajustar tamaño de la imagen para cubrir todo el ancho y alto de la div */
    background-position: center; /* Posicionar la imagen en el centro de la div */
    height: 700px; /* Altura de la div */
    color: white; /* Color del texto en la div */
    text-align: center; /* Alinear el texto en el centro de la div */
    padding-top: 150px; /* Espacio entre el borde superior de la div y el contenido */
  }
  
