<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bt/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estiloform.css">
    <title>Inicio</title>
</head>

<body>
    <!--NavBar-->
    <div>
        <%- include (navbar) %>
    </div>

    <!--DATOS USUARIO-->
    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-8 contendero_form">
            <div class="row titulo">
                <div> Datos usuario </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="input_form" placeholder="Cédula">
                </div>
                <div class="col-md-3">
                    <input type="text" class="input_form" placeholder="Nombre">
                </div>
                <div class="col-md-3">
                    <input type="text" class="input_form" placeholder="Edad">
                </div>
                <div class="col-md-3">
                    <input type="text" class="input_form" placeholder="Telefono">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row sectionp">
                        <label for="menu">Seleccione el sexo:</label>
                        <select id="menu">
                            <option value="opcion1">Masculino</option>
                            <option value="opcion2">Femenino</option>
                            <option value="opcion3">No binario</option>
                            <option value="opcion3">No definido</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row sectionp">
                        <label for="menu">Seleccione el tipo de persona:</label>
                        <select id="menu-res">
                            <option value="opcion1">Residente</option>
                            <option value="opcion2">Visitante</option>
                            <option value="opcion3">Celador</option>
                            <option value="opcion3">Limpieza y servicios</option>
                            <option value="opcion3">Otros</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 sectiony">
                    <label ><input style="margin-left: 1%;" onclick="iscoche_def()" type="checkbox" id="cbox1" value="first_checkbox">¿Tiene coche?</label>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <!--DATOS USUARIO-->
    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-8 contendero_form">
            <div class="row titulo">
                <div> Datos usuario </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="input_form" placeholder="Cédula">
                </div>
                <div class="col-md-3">
                    <input type="text" class="input_form" placeholder="Nombre">
                </div>
                <div class="col-md-3">
                    <input type="text" class="input_form" placeholder="Edad">
                </div>
                <div class="col-md-3">
                    <input type="text" class="input_form" placeholder="Telefono">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row sectionp">
                        <label for="menu">Seleccione el sexo:</label>
                        <select id="menu">
                            <option value="opcion1">Masculino</option>
                            <option value="opcion2">Femenino</option>
                            <option value="opcion3">No binario</option>
                            <option value="opcion3">No definido</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row sectionp">
                        <label for="menu">Seleccione el tipo de persona:</label>
                        <select id="menu-res">
                            <option value="opcion1">Residente</option>
                            <option value="opcion2">Visitante</option>
                            <option value="opcion3">Celador</option>
                            <option value="opcion3">Limpieza y servicios</option>
                            <option value="opcion3">Otros</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 sectiony">
                    <label ><input style="margin-left: 1%;" onclick="iscoche_def()" type="checkbox" id="cbox1" value="first_checkbox">¿Tiene coche?</label>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</body>
<script src="../js/bt/bootstrap.min.js"></script>
<script src="../js/funcionalidadform.js"></script>

</html>