<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bt/bootstrap.min.css">
  <link rel="stylesheet" href="../css/estilo.css">
  <title>Inicio</title>
</head>

<body style="background-color: whitesmoke;">

 <div>
  <%- include (navbar) %>
 </div>

  <!--Imagen-Bienvenida-->

  <div class="imagen-fondo">
  <p>Contenido de la div</p>
</div>

  <!--Seccion_Nosotros-->
  <div class="contenedor_carousel">
    <div class="row">
      <!--Carousel-->
      <div class="col-md-4">
        <div id="miCarousel" class="carousel slide" data-bs-ride="carousel">
          <ol class="carousel-indicators">
            <li data-bs-target="#miCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#miCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#miCarousel" data-bs-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://picsum.photos/id/100/800/400" class="d-block w-100" alt="Imagen 1">
            </div>
            <div class="carousel-item">
              <img src="https://picsum.photos/id/200/800/400" class="d-block w-100" alt="Imagen 2">
            </div>
            <div class="carousel-item">
              <img src="https://picsum.photos/id/300/800/400" class="d-block w-100" alt="Imagen 3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#miCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#miCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
      <!--Información-->
      <div class="col-md-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vero ea atque? Rerum aliquid, neque enim quaerat,
        explicabo officia voluptatem accusantium atque nostrum repudiandae harum a vero totam quam labore.
      </div>
    </div>
  </div>

  <!--Formulario-->
  <div class="formulario">
    <!--Titulo-->
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto" style="text-align: center;">
          <h1>Contactanos</h1>
        </div>
      </div>
    </div>
    <!--Información contenedor-->
    <div class="row formulario_contenedor">
      <div class="col-md-6">
        <img src="../img/gmail.png" class="img" alt="" srcset="">
      </div>
      <div class="col-md-6 formulario_contenedor">
        <input type="text" class="input_form ">
        <input type="text" class="input_form">
        <input type="text" class="input_form">
      </div>
    </div>
  </div>

</body>
<script src="../js/bt/bootstrap.min.js"></script>


</html>