<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bt/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estiloform.css">
    <title>Ingresos</title>
</head>

<body>
    <!--NavBar-->
    <div>
        <%- include (navbar) %>
    </div>

    <!--Registrar entrada-->
    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-8 contendero_form">
            <div class="row titulo">
                <div> Ingresar datos </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>Escriba la cédula</p>
                </div>
                <div class="col-md-5">
                    <input id="cedula_inp" type="number" class="input_form" placeholder="Cedula">
                </div>
                <div class="col-md-2">
                    
                    <input id="cbox1" type="checkbox" onclick="mostrarcoch()">
                    <label for="cbox1">¿Ingresa en coche?</label>
                </div>
                <div class="col-md-3">
                    <button onclick="registrar_visita()"> Registrar </button>
                </div>
            </div>
            <div id="vehiculo_modal" style="display: none;" class="row">
                <div class="col-md-2">
                    <p>Escriba la Matricula</p>
                </div>
                <div class="col-md-4">
                    <input id="matricula_inp" type="text" class="input_form" placeholder="Matricula">
                </div>
                <div class="col-md-2">
                    <p>Escriba la ciudad</p>
                </div>
                <div class="col-md-4">
                    <input id="ciudad_inp" type="text" class="input_form" placeholder="Ciudad">
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>
</body>
<script src="../js/bt/bootstrap.min.js"></script>
<script src="../js/funcionalidadform.js"></script>

</html>